<div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Realizar Pedidos
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            
                            <input class="btn btn-info btn-block" type="submit" value="Emitir Pedido">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        Pedidos
                    </div>
                    <div class="card-body">
                        <table class="table bg-white">
                            <thead class="bg-info text-white">
                                <tr>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td>Livro</td>
                                    <td>Estacionário</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Caneta</td>
                                    <td>Estacionário</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Notebook</td>
                                    <td>Eletrônico</td>
                                    <td>10</td>
                                </tr>
                                <tr>
                                    <td>Mouse</td>
                                    <td>Eletrônio</td>
                                    <td>10</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
